  <% if (!user) { %>
    <link rel="stylesheet" href="/stylesheets/siwg.css">
  <% } %>
</head>
<body>
  <div id="page-container">
    <div id="content-wrap" >
  <nav>
    <section class="top-nav">
      <a href="/" class="title">Recipe Mania</a>
    <% if (user) { %>
      <a class='auth' href="/auth/logout">
        <button type="submit">Logout</button>
      </a>
    <% } else { %>
      <a class='auth' href="/auth/google" class="siwg-link">
        <button type="submit" class="siwg">
          <img id="siwg-image" alt="Sign in with Google" />
        </button>
      </a>
    <% } %>
    </section>
    <section class="bottom-nav">
      <a href="/">Home</a>
      <a href="/recipes">Recipes</a>
      <a href="/recipes/new">Add A Recipe</a>
      <a href="/profiles">Profile</a> 
    </section>
  </nav>
