<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <h1>Hello, <%= user ? user.profile.name : "chef in the making!" %></h1>
  <h2>This website is made for everyone to be able to share their recipes, nothing brings the world together quite like food.</h2>
  <img id="index-img" src="https://i.imgur.com/oiVeHuH.png" alt="Farmers Market Stand">
</main>

<%- include('./partials/footer') %>
