<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
    Recipes
    <% if (recipes.length) { %> 
        <ul>
            <% recipes.forEach(recipes => {  %> 
            <li>
                <%= recipes.name %>
                
            </li>
            <% }) %> 
        </ul>
        <% }else {%>
            <h2>There are no recipies</h2> 
      <% } %> 
</main>

<%- include('../partials/footer') %>


