<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
    <h1>New Recipe!</h1>
     
    <form action="/recipes" method="POST">
        <label>Recipe:
            <input type="text" name='name' required> 
        </label><br>
        <label>Image Address
            <input type="text" name="imageURL">
        </label><br>
        <label>Description
            <input type="text" name="description" required>
        </label><br>
        <label>Instructions
            <input type="text" name="instructions" required>
        </label><br>
        <label>Country of Origin
            <input type="text" name="country" required>
        </label><br>
        <button type="submit">Submit Recipe</button>
    </form>
    
        <h2>Please Login To Contribute A Recipe</h2>
     
</main>

<%- include('../partials/footer') %>

